@media all and (max-width: 480px) {
    body {
        text-align: center;
    }
    .features {
        text-align: left;
    }
    .container {
        width: 100%;
    }
    table {
        width: 100%;
    }
    input[type=text],
    input[type=url],
    input[type=number],
    input[type=password],
    textarea {
        width: 90%;
    }
    
    .sidebar li,
    ul.menu li {
        display: table-cell;
        text-align: center;
        width: 25%;
        float: none;
        padding: 0px;
        margin: 0px;
        
    }
    .sidebar ul,
    ul.menu {
        display: table;
        width: 100%;
        float: none;
        padding: 0px;
    }
    td {
        float: left;
        width: 100%;
    }
    td.itemattr {
        padding: 5px;
    }
    a.btn-std {
        margin: 15px auto 5px auto;
    }
    .greysb {
        margin: 10px auto;
        padding: 10px 0px 10px 0px;
        background: rgba(255, 255, 255, .1);
    }

}
@media all and (min-width: 480px) {
    
    .loginform {
        text-align: center;
        width: 480px;
        margin: 0 auto;
    }
    .sellerform {
        width: 700px;
        text-align: left;
    }
    label {
        width: 30%;
    }
    input[type=text],
    input[type=url],
    input[type=number],
    input[type=password],
    textarea {
        margin-left: 5px;
        width: 75%;
        float: right;
    }
    
    .input-wrap {
        text-align: left;
        margin-bottom: 40px;
        width: 100%;
        display: block;
        float: left;
    }
    .sidebar {
        float: left;
        width: 20%;
    }
    .container {
        width: 90%;
        margin: 0 auto;
    }
    table {
        width: 75%;
    }
    ul.menu {
        padding: 5px 0px 5px 4%;
    }
    ul.menu li {
        display: inline;
        padding: 0px 20px 0px 20px;
        margin: 0px;
    }
}
@font-face {
    font-family: Futura;
    src: url(./font/Futura-Condensed-Normal.woff);
}
body {
    background-image: url("./img/tweed.png");
    color: #EEEEEE;
    font-family: "Lucida Sans Unicode", Arial, sans-serif;
}
h1,
h2,
h3,
h4,
label,
.menu,
.sidebar,
.btn-std {
    font-family: "Futura", "Lucida Sans Unicode", Arial, sans-serif;
    text-transform: uppercase;
}
h1 {
    font-size: 4.5em;
}
h2 {
    font-size: 2.5em;
}
h3 {
    font-size: 1.5em;
}
h4 {
    font-size: 1.3em;
}
ul.menu {
    font-size: 1.8em;
    position: fixed;
    top: 0px;
    width: 100%;
    background-image: url("./img/tweed.png");
    list-style: none;
    margin: 0 auto;
    border-bottom: 1px solid #555555;
}
a {
    text-decoration: underline;
    color: #FFFFFF;
}
a:hover,
a:active {
    color: #BBBBBB;
}
input[type=text],
input[type=url],
input[type=number],
input[type=password],
textarea {
    font-size: 1.2em;
    padding: 5px;
    color: #EEEEEE;
    background: none;
    border-radius: 5px;
    border: 2px solid #888888;
}

input[type=text]:focus,
input[type=url]:focus,
input[type=number]:focus,
input[type=password]:focus,
textarea:focus {
        border: 2px solid #EEEEEE;
        outline: none;
    }
label {
    font-size: 1.5em;
}

table {
    text-align: center;
    border-spacing: 20px;
    border-collapse: collapse;
}
tr:nth-child(odd) {
    background: rgba(255, 255, 255, .1);
}
td {
    padding-bottom: 20px;
}
.sidebar ul {
    list-style: none;
    margin: 0 auto;
    padding: 0px;
    font-size: 1.2em;
}
.sidebar li {
    padding-bottom: 10px;
}
.itemattr {
    padding: 40px 10px 0px 10px;
}

.btn-std {
    background-color: #EEEEEE;
    border: none;
    padding: 10px;
    border-radius: 3px;
    font-size: 1.2em;
    text-decoration: none;
    color: #222222;
    display: block;
    margin: 40px auto 0px auto;
    width: 100px;
}
.btn-std:hover {
    border: 1px #EEEEEE solid;
    background-color: #222222;
    color: #EEEEEE;
}
body.cliente ul.menu li.cliente,
body.cliente ul.menu li.cliente a,
body.login ul.menu li.login,
body.login ul.menu li.login a,
body.venditore ul.menu li.venditore,
body.venditore ul.menu li.venditore a,
body.descrizione ul.menu li.descrizione,
body.descrizione ul.menu li.descrizione a {
    background-color: #EEEEEE;
    color: #222222;
}

td h4 {
  display: block;
  margin: 20px auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px;
}

.greybg  {
    padding: 10px 0px 10px 0px;
    background: rgba(255, 255, 255, .1);
}
